/*gmail red: rgb(215,75,62),cell background: rgb(241,241,241),cell font color: #333,green:#7ed73e*/
body{
    background-color: rgb(215,75,62);
    font-family: 'Arial',sans-serif;
    color: #333;
}

